h1 {color:rgb(25, 25, 43)}
p {color:rgba(255, 0, 0, 0.689)}
li {color:aqua}



#toony {
    border-radius: 50%;
}

#flair {
    border-radius:5%;
}

#content {
    width: 800px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
}